<div class="login-container">
  <mat-card>
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <div class="footer-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
      </div>

      <!-- Display the error message if one exists -->
      <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
      </div>
      <div class="signup-router">
        <a routerLink="/auth/signup">
          Don't you have an account? Signup
        </a>
      </div>
    </form>
  </mat-card>
</div>